pillow
requests
streamlit
langchain_ollama
langgraph
langchain
langchain-community>=0.2.11
langchain-neo4j
langchain-core
langchain-text-splitters
langchain-anthropic
python-dotenv
IPython
jupyterlab
langchain-openai
wikipedia
langchain_ollama
neo4j
tiktoken
tika
pypdf
dspy
numexpr